#products-tab{ display: inline-block; width: 100%; border: 1px solid #cacaca;}
#products-tab td:nth-child(1) { width: 20%; }
#products-tab td:nth-child(2) { width: 30%; }
#products-tab td:nth-child(3) { width: 10%; }
#products-tab td:nth-child(4) { width: 10%; }
#products-tab td:nth-child(5) { width: 10%; }
#products-tab td:nth-child(6) { width: 20%; }
#products-tab td{border: 1px solid #cacaca}
#products-tab thead td{ padding: 20px 10px; text-align: left; font-weight: bold;}
#products-tab tbody td{ padding: 5px 10px; text-align: left;}
.sidebar-custom{ position: fixed; padding: 70px 0px; z-index: 10; }
.prev-file{ width: 50%; height: 50%; border: 1px solid #cacaca;}
.prev-file img{ width: 100%; height: 100%;}
.productsimg { width: 35px; height: auto; }
.proalign { text-align: center !important; }
.inp{ margin-top: 10px;}
.inp span{ display: inline-block; width: 100px;  }
.inp input{ width: 300px;}
.inp .submit-btn-addprod{ width: 200px; padding: 15px 0px; background-color: #d64635; border-radius: 5px; border: 0px; color: white; }
.testform {width: 140px !important;}
.quantityview { padding: 20px; height: auto; border: 1px solid #aeaeae;  }
.add-user-a{ display: inline-block; text-decoration: none; background-color: #1f1f1f; color: white; padding: 10px 10px; border-radius: 5px; }
.add-user-a:hover{ text-decoration: none; color: #bfbfbf; }
.userspacer{ padding-top: 30px; padding-bottom: 30px; }
.usergrid{ width: 100%; text-align: center; position: relative; min-height: 350px; padding: 60px 0px; }
.user-ident{ display: inline-block; border: 1px solid #9e9e9e; border-radius: 50% !important; width: 150px; height: 150px; position: absolute; top: 0; margin: auto; left: 0; right: 0; overflow: hidden; background-color: white; }
.userimg-default{ width: 100%; height: 100%; }
.user-contents{ border: 1px solid #9e9e9e; display: inline-block; width: 100%; height: 100%; min-height: 150px; padding: 105px 0px 0px 0px; border-radius: 5px !important; }
.user-name{ font-weight: bold; font-size: 22px; }
.user-email{ color: #848484; font-size: 14px; }
.user-actions{ display: inline-block; width: 100%; padding: 40px 0px; }
.user-contents a:hover{ text-decoration: none; color: white; }
.user-edit{ display: inline-block; background-color: #33A970; color: white; padding: 5px 0px; width: 65px; text-decoration: none; }
.user-delete{ display: inline-block; background-color: #d64635; color: white; padding: 5px 0px; width: 65px; text-decoration: none; }
.adduser-wrapper{ padding: 50px 20px; max-width: 50%; }
.usertype-user{ padding: 10px 0px; }
.user-filterer{ width: 200px; }
.filter-label{ padding: 5px 0px 5px 0px; float: left; }
.submenu-position{ position: relative; }
.product-submenu{ position: absolute; width: 100%; background-color: #1f1f1f; z-index: 1; display: none; left: 235px;top: 0px; }
.product-tab{ cursor: pointer; }
.users-submenu{ position: absolute; width: 100%; background-color: #1f1f1f; z-index: 1; display: none; left: 235px; top: -0px; }
.users-tab{ cursor: pointer; }
.user-tp-grid{ padding: 50px 0px; }
.input-circle-right{ min-width: 200px; text-align: left; }
.dashboard-profile-grid{ display: inline-block; width: 100%; height: 100%; text-align: center; }
.profile-userpic{ display: inline-block; width: 200px; border-radius: 50% !important; overflow: hidden; border: 1px solid #cacaca; }
.profile-usertitle-name {
    color: #1f1f1f;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 7px;
    }
.profile-usertitle-job {
    text-transform: uppercase;
    color: #1f1f1f;
    font-size: 13px;
    font-weight: 800;
    margin-bottom: 7px;
}
.profile-userbuttons button {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
}
.profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 16px;
    font-weight: 400;
}
.profile-usermenu {
    margin-top: 30px;
    padding-bottom: 20px;
}
.nav>li, .nav>li>a {
    display: block;
    position: relative;
    text-align: left;
}
.img-circle{ background-color: white; }
.table tbody td { font-size: 10px; }