body { margin: 0;font-family: Arial, Helvetica, sans-serif; }
.navlogo { float: left;width: 8%;height: auto;padding-right: 10px; }
.topnav { overflow: hidden;background-color: #333;padding-left: 20px;padding-right: 20px;height: 40px; }
.topnav a { float: left;color: #f2f2f2;text-align: center;padding: 10px;text-decoration: none;font-size: 15px; }
.topnav a:hover { background-color: #ddd;color: black; }
.topnav a.active { background-color: #4CAF50;color: white; }
.blankspace { height: 10px;background-color: #4CAF50; }
.content { padding: 10px;background-color: #333;height: auto; }
.barlabel { color: #333;font-size: 30px;font-family: 'Quicksand', sans-serif; }
#barcode { border: 1px solid #333;border-radius: 40px;height: 95px;width: 50%;font-size: 30px;padding: 15px 10px 15px 19px;font-family: 'Quicksand', sans-serif;color: #a3a3a3;text-transform: uppercase; }
.downar { border: none;border-radius: 25px;text-decoration: none;background-color: #333333; color: #b3b3b3;font-size: 17px; }
.downar:hover { background-color: transparent; color: #ffffff; }
.downar:focus { border: none;background-color: transparent !important; color: #ffffff !important; }
.subdrop { top: 77% !important;right: 6% !important;background-color: #333333; }
.dropopt { color: #e2e2e2 !important; }
.dropopt:hover { color: #333333 !important; }
.row { margin-right: 0px !important;margin-left: 0px !important; }
.qty { margin-top: 13px;margin-left: 20px;border-radius: 25px !important; }
.displayarea { margin-top: 20px; }
.displayareaheader { height: 60px;background-color: rgba(163, 163, 163, 0.2);border-radius: 20px 20px 0px 0px; }
.displayareacontentleft { border: 1px solid #e2e2e2;height: 315px; }
.displayareacontentright { border: 1px solid #e2e2e2;height: 255px; }
.displayareafooter { height: 60px;background-color: rgba(163, 163, 163, 0.2);border-radius: 0px 0px 20px 20px; text-align: center; }
.totalamount { height:180px;border: 1px solid #e2e2e2;text-align: left;padding: 10px; }
.totalamount > div > div > div > label { color: #333;font-size: 17px;margin-right: 20px;font-weight: 400; }
.totalamount > div > .labels > div { border-bottom: 1px solid #e2e2e2; }
.totalamount > div > .amounts > div { border-bottom: 1px solid #e2e2e2; }
.amountrec { height: 40px;width:100%; border: none;text-align: right;font-size: 16px;color: #333;border-bottom: 1px solid #e2e2e2; }
::placeholder { color: #333; }
.custom { background-color: #4CAF50;border-radius: 25px !important; }
.customm { background-color: #4CAF50; }
.pay { color: #fff;font-weight: bold; }
.custom:hover { background-color: #333;color: #fff; }
.custom:focus { background-color: #333 !important;color: #fff !important; }
.customm:hover { background-color: #333;color: #fff; }
.customm:focus { background-color: #333 !important;color: #fff !important; }
.paybtn { float: right;margin-top: 13px;margin-right: 20px; }
.dark { background-color: #333333;border-radius: 25px !important; }
.darkk { background-color: #333333; }
.dark:hover { background-color: #4CAF50;color: #fff; }
.dark:focus { background-color: #4CAF50 !important;color: #fff !important; }
.darkk:hover { background-color: #4CAF50;color: #fff; }
.darkk:focus { background-color: #4CAF50 !important;color: #fff !important; }
.qtylabel { color: #000;font-size: 15px;font-family: 'Quicksand', sans-serif;margin-top: 19px;margin-left: 20px; }
#qty { border: 1px solid #e2e2e2;border-radius: 40px;height: 25px;width: 15%;font-size: 15px;padding: 15px 10px 15px 10px;font-family: 'Quicksand', sans-serif;color: #b3b3b3; }
.footer { height: 70px;background-color: #333; }
.ftdiv { margin-left: 20px;padding: 20px; }
.footertext { font-size: 20px;color: #b3b3b3; }
.footertext:hover { text-decoration: none;color: #4CAF50; }
.total { padding: 15px;text-align: center;font-size: 20px; }
.purdetails { padding: 15px; }
.texts { padding: 10px; border-bottom: 1px solid #e2e2e2; }
.funcbtn { padding-top: 27px; }
.f1prod { display: none; }
.f2prod { display: none; }
.f3prod { display: none; }
.f4prod { display: none; }
.forf1 { display: none; }
.forf2 { display: none; }
.forf3 { display: none; }
.forf4 { display: none; }
.qtystyle { width: 75%;margin: 0 auto; }